* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #2A7AE4;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd: #F79F1F;
  --backEnd: #A3CB38;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
}

a {
  color: inherit;
} 
